repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.1.0
    hooks:
      - id: golangci-lint
        args: ['--timeout=5m', '--config=.golangci.yml']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
