---
# Example PersistentVolumeClaim using NVMe-oF storage
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-nvmeof-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
   storageClassName: tns-csi-nvmeof
  resources:
    requests:
      storage: 10Gi

---
# Example Pod using the NVMe-oF PVC
apiVersion: v1
kind: Pod
metadata:
  name: test-nvmeof-pod
  namespace: default
spec:
  containers:
    - name: app
      image: nginx:latest
      volumeMounts:
        - name: data
          mountPath: /data
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: test-nvmeof-pvc
